<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Members</div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Team</th>
                <th>Name</th>
                <th>IRC</th>
                <!-- <th></th> -->
            </tr>
        </thead>
        <tbody>
        	<% @users.each do |user| %>
            <tr <% if @me and user.id == @me.id %> class="warning" <% end %> >
                <td class="date"><img src="<%= user.gravatar_url %>" /></td>
                <td><%= user.food_finder_team == nil ? '-' : user.food_finder_team.name %></td>
                <td><%= user.name %></td>
                <td><%= user.nickname %></td>
                <!-- <td><button type="submit" class="btn btn-danger btn-sm skip" data-toggle="modal" data-target="#modal">Skip it!</button></td> -->
            </tr>   
            <% end %>     
        </tbody>
    </table>
</div>

