<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Tech Talk's Schdule</div>
    <div class="panel-body">
        <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#inputForm"><span class="glyphicon glyphicon-hand-up"></span> Volunteer!</button>
        <p>Sample table for list of tech talkers</p>
        <div>
        </div>
    </div>

    <!-- Table -->
    <table class="table" ng-controller="MainCtrl">
        <thead>
            <tr>
                <th>Week</th>
                <th>Name</th>
                <th>Team</th>
                <th>Topic</th>
                <th>Date</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
        	<% @users.each do |user| %>
            <tr <% if @me and user.id == @me.id %> class="warning" <% end %> >
                <td>2</td>
                <td><%= user.name %></td>
                <td>ABCS</td>
                <td>
                    <div id="topic">Yeoman<button id="topic_btn" type="button" class="btn btn-primary btn-xs">Edit</button></div>
                    <form id="topic_form" class="hidden">
                        <div class="col-xs">
                            <input name="topic" type="text" placeholder="" class="form-control">
                            <button type="submit" class="btn btn-primary btn-xs">Confirm</button>
                            <button type="button" class="btn btn-default btn-xs">Cancel</button>
                        </div>
                    </form> 
                </td>
                <td><%= user.next_talk %></td>
                <td></td>
            </tr>   
            <% end %>     
        </tbody>
    </table>
</div>
<div id="inputForm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add your volunteer's topic</h4>
            </div>
            <div class="modal-body">
                <form role="form" class="form" action="<%= volunteer_path %>" method="post">
                    <div class="form-group">
                        <label>Date</label>
                        <select class="form-control" name="weeks">
                            <option value="0">Next week</option>
                            <option value="1">Next 2 weeks</option>
                            <option value="2">Next 3 weeks</option>
                        </select> 
                    </div>
                    <input type="submit" class="btn btn-primary">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
