<div class="panel panel-default">
  <div class="panel-heading">Food Finder Schedule</div>
  <table class="table">
    <thread>
      <tr>
        <th>Team <%= link_to '+', new_food_finder_team_path %></th>
      </tr>
    </thread>
    <tbody>
      <% @food_finder_teams.each do |food_finder_team| %>
      <tr>
        <td><%= link_to food_finder_team.name, food_finder_team %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
